.btn-gold {
  background: #f3d078;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #be952c #a68226 #9b7924;
  color: #000; }
  .btn-gold:hover {
    background: #f1c860;
    background: -webkit-linear-gradient(top, #f5d78e, #eeb933);
    background: linear-gradient(to bottom, #f5d78e, #eeb933); }
  .btn-gold:active {
    background: #eeba37;
    border-color: #a88734 #9c7e31 #9c7e31; }

.btn-goldSecondary {
  background: #febd69; }
  .btn-goldSecondary:hover {
    background: #f3a847; }

.btn-plain {
  background: #eff0f3;
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  overflow: hidden; }
  .btn-plain:hover {
    border-color: #a2a6ac #979aa1 #82858a;
    background: #e0e3e8;
    background: -webkit-linear-gradient(top, #e7eaf0, #d9dce1);
    background: linear-gradient(to bottom, #e7eaf0, #d9dce1); }
  .btn-plain:active {
    background: #dcdfe3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset; }

.W2BButton {
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
  color: #000;
  background: #fff;
  padding: 0 10px;
  cursor: pointer;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-top-color: #adb1b8;
  border-right-color: #a2a6ac;
  border-bottom-color: #8d9096;
  border-left-color: #a2a6ac;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px; }
  .W2BButton:hover {
    background: #000;
    color: #fff; }

.blueGraident {
  background: #2a4e7e;
  background: -moz-radial-gradient(center, ellipse cover, #2a4e7e 0%, #0e1b2c 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #2a4e7e 0%, #0e1b2c 100%);
  background: radial-gradient(ellipse at center, #2a4e7e 0%, #0e1b2c 100%); }

.box {
  height: 600px;
  width: 100%; }

html {
  background: #fff; }

@media (min-width: 320px), (min-height: 320px) and (orientation: landscape) {
  html, body, p, span, a {
    font-size: 11px;
    line-height: 18px; } }
@media (min-width: 480px), (min-height: 480px) and (orientation: landscape) {
  html, body, p, span, a {
    font-size: 14px;
    line-height: 22px; } }
@media (min-width: 767px), (min-height: 767px) and (orientation: landscape) {
  html, body, p, span, a {
    font-size: 17px;
    line-height: 28px; } }
@media (min-width: 992px), (min-height: 992px) and (orientation: landscape) {
  html, body, p, span, a {
    font-size: 19px;
    line-height: 31px; } }
@media (min-width: 1100px), (min-height: 1100px) and (orientation: landscape) {
  html, body, p, span, a {
    font-size: 20px;
    line-height: 33px; } }
@media (min-width: 1200px), (min-height: 1200px) and (orientation: landscape) {
  html, body, p, span, a {
    font-size: 21px;
    line-height: 34px; } }
@media (min-width: 1500px), (min-height: 1500px) and (orientation: landscape) {
  html, body, p, span, a {
    font-size: 24px;
    line-height: 39px; } }

h1 {
  font-size: 2.6363rem;
  line-height: 3.5454rem; }

h2 {
  font-size: 1.6363rem;
  line-height: 2.3636rem; }

h3 {
  font-size: 1.2727rem;
  line-height: 1.90909rem; }

h4 {
  font-size: 1rem;
  line-height: 1rem; }

h5 {
  font-size: 0.818181rem;
  line-height: 1.63636rem; }

/*# sourceMappingURL=main.css.map */
