.btn-gold {
  background: #f3d078;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #be952c #a68226 #9b7924;
  color: #000; }
  .btn-gold:hover {
    background: #f1c860;
    background: -webkit-linear-gradient(top, #f5d78e, #eeb933);
    background: linear-gradient(to bottom, #f5d78e, #eeb933); }
  .btn-gold:active {
    background: #eeba37;
    border-color: #a88734 #9c7e31 #9c7e31; }

.btn-goldSecondary {
  background: #febd69; }
  .btn-goldSecondary:hover, .btn-goldSecondary.active {
    background: #f3a847; }

.btn-plain {
  background: #eff0f3;
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  overflow: hidden; }
  .btn-plain:hover {
    border-color: #a2a6ac #979aa1 #82858a;
    background: #e0e3e8;
    background: -webkit-linear-gradient(top, #e7eaf0, #d9dce1);
    background: linear-gradient(to bottom, #e7eaf0, #d9dce1); }
  .btn-plain:active {
    background: #dcdfe3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset; }

.W2BButton {
  font-size: 1.5em;
  transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out, color 150ms ease-in-out;
  color: #000;
  background: #fff;
  padding: 0 10px;
  cursor: pointer;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-top-color: #adb1b8;
  border-right-color: #a2a6ac;
  border-bottom-color: #8d9096;
  border-left-color: #a2a6ac;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px; }
  .W2BButton:hover {
    background: #000;
    color: #fff; }

.blueGraident {
  background: #2a4e7e;
  background: -moz-radial-gradient(center, ellipse cover, #2a4e7e 0%, #0e1b2c 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #2a4e7e 0%, #0e1b2c 100%);
  background: radial-gradient(ellipse at center, #2a4e7e 0%, #0e1b2c 100%); }

.box {
  height: 600px;
  width: 100%; }

html {
  background: #fff; }

#ui-view {
  padding-top: 50px; }

#portfolio {
  padding-top: 5px; }
  @media (max-width: 767px) {
    #portfolio {
      padding-top: 10px; } }

html, body, p, span, a {
  font-size: 11px;
  line-height: 18px; }
  @media (min-width: 480px), (min-height: 480px) and (orientation: landscape) {
    html, body, p, span, a {
      font-size: 14px;
      line-height: 22px; } }
  @media (min-width: 767px), (min-height: 767px) and (orientation: landscape) {
    html, body, p, span, a {
      font-size: 17px;
      line-height: 28px; } }
  @media (min-width: 992px), (min-height: 992px) and (orientation: landscape) {
    html, body, p, span, a {
      font-size: 19px;
      line-height: 31px; } }
  @media (min-width: 1100px), (min-height: 1100px) and (orientation: landscape) {
    html, body, p, span, a {
      font-size: 20px;
      line-height: 33px; } }
  @media (min-width: 1200px), (min-height: 1200px) and (orientation: landscape) {
    html, body, p, span, a {
      font-size: 21px;
      line-height: 34px; } }
  @media (min-width: 1500px), (min-height: 1500px) and (orientation: landscape) {
    html, body, p, span, a {
      font-size: 24px;
      line-height: 39px; } }

h1 {
  font-size: 2.6363rem;
  line-height: 3.5454rem; }

h2 {
  font-size: 1.6363rem;
  line-height: 2.3636rem; }

h3 {
  font-size: 1.2727rem;
  line-height: 1.90909rem; }

h4 {
  font-size: 1rem;
  line-height: 1rem; }

h5 {
  font-size: 0.818181rem;
  line-height: 1.63636rem; }

.menuNormal {
  background: #232f3f; }

.menuLight {
  background: #37475a; }

.navbar-brand {
  padding: 0; }

.logoMenu {
  margin: auto;
  max-width: 44px;
  max-height: 49.648px;
  margin-top: -3px;
  margin-left: 15px; }

nav#menu, nav#menu a {
  background: #232f3f;
  border-color: #37475a;
  color: #c1ccc3; }
  nav#menu.saveButtonTopMobile, nav#menu a.saveButtonTopMobile {
    border-color: #232f3f; }
  nav#menu li.active, nav#menu li.active a, nav#menu li:hover, nav#menu li a:active, nav#menu li a:hover, nav#menu .navbar-default .navbar-nav > .active > a, nav#menu a li.active, nav#menu a li.active a, nav#menu a li:hover, nav#menu a li a:active, nav#menu a li a:hover, nav#menu a .navbar-default .navbar-nav > .active > a {
    background-color: #37475a;
    color: #fff; }
  nav#menu li a:active, nav#menu a li a:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset; }
  nav#menu ul.dropdown-menu, nav#menu a ul.dropdown-menu {
    background-color: #232f3f;
    color: #c1ccc3; }
    nav#menu ul.dropdown-menu li, nav#menu a ul.dropdown-menu li {
      background-color: #232f3f;
      color: #c1ccc3; }
      nav#menu ul.dropdown-menu li a, nav#menu a ul.dropdown-menu li a {
        background-color: #232f3f;
        color: #c1ccc3; }
      nav#menu ul.dropdown-menu li a:hover, nav#menu a ul.dropdown-menu li a:hover {
        background-color: #37475a;
        color: #fff; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #232f3f;
  border-top-color: #37475a; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #232f3f; }

a.onWhiteBackground {
  color: #248fd3; }
  a.onWhiteBackground:hover {
    text-decoration: none;
    color: #c45500; }
a.onBlueBackground {
  color: #37708b; }
  a.onBlueBackground:hover {
    color: #fff; }

.blogBox {
  cursor: pointer;
  padding: 16px;
  background: #fff;
  border-top: 3px solid #37475a;
  border-radius: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.12), 1px 0 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .blogBox {
      -webkit-transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
      transition: all 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-perspective: 1000px;
      perspective: 1000px;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      min-height: 320px; }
      .blogBox.noMin {
        min-height: 0px; }
      .blogBox:hover {
        transform: translate3d(0, -3px, 0);
        box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.16), 2px 0 2px 0 rgba(0, 0, 0, 0.16), 0 2px 2px 0 rgba(0, 0, 0, 0.23); } }
  .blogBox.noPointer {
    cursor: default; }
  .blogBox .description {
    margin: auto;
    text-align: left;
    text-indent: 5%;
    color: #0a172b; }
  .blogBox img {
    width: 100%;
    height: 100%;
    border-radius: 3px; }
  .blogBox.smallerBlogPosts img {
    max-height: 272px;
    max-width: 209px;
    margin: auto;
    display: block; }
  .blogBox.smallerBlogPosts h3 {
    text-align: center; }
  .blogBox.blog {
    margin: auto;
    margin-top: 19px;
    margin-bottom: 16px; }
    .blogBox.blog img {
      max-height: 272px;
      max-width: 209px;
      margin: auto;
      display: block; }
    .blogBox.blog h2, .blogBox.blog .date {
      text-align: center; }
    .blogBox.blog .description {
      padding: 0 5%;
      margin: 5% auto; }

.mainPost, .smallerBlogPosts {
  width: 100%;
  height: 100%; }

.checkForThird:nth-child(3n+1) {
  clear: left;
  clear: both; }

.blogButton {
  margin: 5% 5% 0 5%; }

.blogSinglePage {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding: 5%; }
  .blogSinglePage img {
    border-radius: 4px; }
  .blogSinglePage .blogBox {
    cursor: auto; }
    .blogSinglePage .blogBox h1 {
      color: #0a172b;
      padding-left: 15px;
      text-align: left; }
      @media (max-width: 767px) {
        .blogSinglePage .blogBox h1 {
          padding-left: 0px;
          text-align: center; } }
    .blogSinglePage .blogBox .date {
      color: #37475a; }
      @media (min-width: 768px) {
        .blogSinglePage .blogBox .date {
          text-align: right;
          margin-right: 5%; } }
    .blogSinglePage .blogBox .body {
      margin: 0 5% 5% 5%;
      text-align: left;
      text-indent: 5%; }

@media (min-width: 768px) {
  .show-xs {
    display: none;
    visibility: hidden; } }

.portfolioCard {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  border-radius: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 16px; }
  .portfolioCard img {
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
  .portfolioCard .cardText {
    display: none;
    visibility: hidden; }
  .portfolioCard:hover .cardText {
    background: white;
    background: rgba(255, 255, 255, 0.4);
    color: #0a172b;
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    padding: 16px;
    text-align: center;
    border-radius: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.115em;
    font-weight: 900; }
    .portfolioCard:hover .cardText p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%); }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltiptexttop {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px; }

.tooltiptexttop::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: black transparent transparent transparent; }

label:hover .tooltiptexttop, .tooltips:hover .tooltiptexttop {
  visibility: visible; }

@media (max-width: 767px) {
  .showForFiveSeconds {
    opacity: 1;
    display: inline-block;
    animation: fiveSecondGhoast 3s linear forwards; } }

@keyframes fiveSecondGhoast {
  99% {
    opacity: 0;
    visibility: visible;
    display: inline-block;
    position: relative;
    left: 0px; }
  100% {
    visibility: hidden;
    display: none;
    position: absolute;
    left: -99999999px; } }
.banner {
  width: 100%; }
  .banner img {
    width: 100%; }

div.landingPageTitles h1 {
  text-align: left;
  margin-left: 15px;
  color: #0a172b; }
  @media (max-width: 767px) {
    div.landingPageTitles h1 {
      text-align: center;
      margin-left: 0px; } }
  div.landingPageTitles h1 small {
    color: #000; }

.givePadding {
  padding: 0 5%; }

.spaceBtm {
  height: 10%;
  width: 100%;
  margin-bottom: 10%; }

.bio {
  padding: 5%;
  margin-bottom: 5%; }
  .bio p {
    font-size: 1.25em;
    color: #0a172b;
    text-indent: 10%; }

.bioBlogBox {
  text-align: center; }
  .bioBlogBox h2 {
    margin-bottom: 5%; }
  .bioBlogBox h3 {
    margin-bottom: 5%; }
  .bioBlogBox .blogBox {
    min-height: 200px; }

.storeBlogBox {
  margin-top: 1.5em; }
  .storeBlogBox img {
    max-width: 300px;
    max-height: 300px;
    margin: auto; }
  .storeBlogBox .blogBox {
    position: relative;
    cursor: auto; }
    @media (min-width: 768px) {
      .storeBlogBox .blogBox {
        padding-bottom: -moz-calc(5% + 40px);
        padding-bottom: -webpack-calc(5% + 40px);
        padding-bottom: calc(5% + 40px);
        min-height: 462px; } }
    .storeBlogBox .blogBox p.title {
      font-size: 1.5em;
      line-height: 1.75em;
      text-align: center; }
    .storeBlogBox .blogBox button.cartButton.hidden-xs {
      position: absolute;
      right: 5%;
      bottom: 5%; }

.store {
  padding: 5%; }
  .store .storeTitle {
    padding-left: 5%; }
    .store .storeTitle h1 a.onWhiteBackground {
      font-size: 65%; }

.profile {
  color: #000; }
  .profile input.address {
    width: 100%; }
  .profile div.row.blogBox {
    cursor: default !important; }
  .profile div.accountButtons {
    padding-top: 5%; }
  .profile div.accountData {
    padding: 5%; }
  .profile h1 {
    color: #0a172b; }
    .profile h1.fadedOut {
      color: #777; }
  .profile h2 {
    font-weight: 600; }
  .profile .whiteOut {
    background: #fff;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-top-color: #adb1b8;
    border-right-color: #a2a6ac;
    border-bottom-color: #8d9096;
    border-left-color: #a2a6ac;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px; }
  .profile .saveSpacer {
    padding: 5% 0; }
  @media (max-width: 767px) {
    .profile .mobileFloatSave {
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #232f3f;
      border-bottom: 1px #37475a solid;
      z-index: 100;
      padding: 2px 0;
      padding-top: 8px; }
      .profile .mobileFloatSave button {
        width: 80%;
        margin: auto; } }
  .profile .fixedButtonBtm {
    position: fixed;
    bottom: 0;
    right: 5%;
    z-index: 100;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

input.address {
  width: 100%; }

#orderHistory .blogBox {
  min-height: 0; }
  #orderHistory .blogBox img {
    max-width: 300px;
    max-height: 300px; }
  #orderHistory .blogBox .historySpace {
    margin: 5%; }
#orderHistory .closeOut {
  color: #248fd3; }
  #orderHistory .closeOut:hover {
    text-decoration: none;
    color: #c45500; }
#orderHistory .orderHistoryToolTip:hover .borderToolTip {
  border: 1px black solid; }
#orderHistory .orderHistoryToolTip:hover .tooltiptexttop {
  font-weight: 600;
  visibility: visible; }

.checkoutCart {
  padding: 15px; }
  .checkoutCart h1.cart {
    text-indent: 5%; }
  .checkoutCart div.blogBox {
    cursor: default;
    padding: 16px;
    min-height: 100px; }
    .checkoutCart div.blogBox img {
      max-width: 300px;
      max-height: 300px; }
  .checkoutCart .quantityChange {
    max-width: 75px; }
  .checkoutCart .inStock::after {
    content: 'In Stock';
    color: #ff9900; }
  .checkoutCart .outStock::after {
    content: 'Out Of Stock';
    color: #777; }
  @media (max-width: 767px) {
    .checkoutCart .text-right {
      text-align: center; } }
  @media (max-width: 767px) {
    .checkoutCart .notCenter .text-right {
      text-align: right; } }
  .checkoutCart .emptyCart {
    padding: 10%; }
  .checkoutCart .saveButton {
    padding-top: 5%;
    padding-bottom: 2%; }
    @media (max-width: 767px) {
      .checkoutCart .saveButton {
        padding: 10% 10% 2% 10%; } }
  .checkoutCart .checkoutButton {
    margin-bottom: 10%; }
    @media (max-width: 767px) {
      .checkoutCart .checkoutButton {
        padding: 0 10% 10% 10%; } }

.cartButtons {
  margin-bottom: 10%;
  padding-top: 10%; }

.spaceTopReview {
  margin-top: 5%; }

.checkout {
  padding: 0 5%; }
  .checkout .blogBox a img {
    max-width: 300px;
    max-height: 300px; }
  @media (min-width: 768px) {
    .checkout .hidden-xs-border {
      border-bottom: 1px #232f3f solid;
      border-top: 1px #232f3f solid; }
    .checkout .hidden-xs-side-border {
      border-right: 1px #232f3f solid; }
    .checkout .hidden-xs-border-bottom {
      border-bottom: 1px #232f3f solid; } }

/*# sourceMappingURL=main.css.map */
