<div class="row" id="category">
    <div class="text-center" id="owlCategory">
      <div><img src="img\actionshots\actionshot4.jpg" alt="" class="actionShots" /></div>
      <div><img src="img\actionshots\actionshot6.jpg" alt="" class="actionShots"  /></div>
      <div><img src="img\actionshots\actionshot0.jpg" alt="" class="actionShots"  /></div>
      <div><img src="img\paintings\paintings5.jpg" alt="" class="actionShots" /></div>
      <div><img src="img\stickers\stickers1.jpg" alt="" class="actionShots" /></div>
    </div>
</div>
<div class="col-xs-12" ui-view>
</div>
