<div class="container-fluid" id="categoryDisplay">
  <div class="container-fluid" id="menuXS">
    <nav id="navBarCategories" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav text-right">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
        <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a ui-sref="store.categories.all">All</a></li>
      <li><a ui-sref="store.graphics">Graphic Design</a></li>
      <li><a ui-sref="store.paintings">Paintings</a></li>
      <li><a ui-sref="store.prints">Prints</a></li>
      <li><a ui-sref="store.skateboards">Skateboards</a></li>
      <li><a ui-sref="store.stickers">Stickers</a></li>
      <li><a ui-sref="store.upcycle">Upcycle</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>


<!-- <div class="row" id="category-menu">
  <div class="col-xs-12">
    <input type="text" id="btnSearch" ng-model="searchText"  ui-sref="store.search({ searchText: searchText })" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()" style="width: 50px; padding: 0; margin: 0;"/>
  </div>
  <div class="col-xs-12">
    <a ui-sref="store.categories.all">All</a></h2>
    <a ui-sref="store.graphics">Graphic Design</a></h4>
    <a ui-sref="store.paintings">Paintings</a></h4>
    <a ui-sref="store.prints">Prints</a></h4>
    <a ui-sref="store.skateboards">Skateboards</a></h4>
    <a ui-sref="store.stickers">Stickers</a></h4>
    <a ui-sref="store.upcycle">Upcycle</a></h4>
  </div>
</div> -->
