<div class="row" id='products'>
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="sticker in stickers">
        <a ui-sref="store.product({ urlCode: sticker.urlCode })" ng-click="sendParams(sticker.urlCode)">
        <div class="row center">
          <div class="col-xs-12">
            <img data-ng-src="{{sticker.pictures[0]}}" alt="" />
          </div>
          <div class="col-xs-12">
            {{sticker.name}}
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</div>
