#confirmation {
  & div#status {
    width: 80vw;
    margin: auto 10%;
    padding: 0.777em 0;
    margin-bottom: 2em;
  }
  & .success {
    background-color: green;
    color: white;
    border-radius: 13px;
  }
  & .failed {
    background-color: red;
    color: white;
  }
  & .waiting {
    border: $s 2px solid;
    color: $b;
  }
}
.gold {
  background-color: $h;
  padding: 0.333em 1em;
  margin: auto;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  max-width: 225px;
}

#html #body #ui-view #confirmationTotal {
  padding: .5em 1em;
  text-align: left;
  border: $p 4px solid;
  border-radius: 4px;
  margin: 1.75em auto;
  background-color: white;
}
