.home {
  // background-image: url(/img/actionshots/actionshot0.jpg), url(/img/actionshots/actionshot2.jpg);
  // background-repeat: repeat-x, repeat;
  // background-position: center top;
  // height: 100vh;
  // border: $b 3px solid;
  // border-bottom: $s 2px solid;
  @media (min-width: 992px) {
    margin-top: 2.5%;
  }
}

#html #body #ui-view {

  & .mainPost {
    margin: 2.5% auto;
  }
  & .blogWhole {
    margin: 5% auto;
  padding: 0 5%;
  }
  & .spaceBtm {
    margin-bottom: 5%;
  }
  & .makeRoom {
    margin: 5% auto;
  }
  & #home {
    img {
      border-radius: 4px;
      margin: auto;
      @media (max-width: 600px), (max-height: 600px) {
        max-width: 300px;
      }
      @media (max-width: 480px), (max-height: 480px) {
        max-width: 225px;
      }
    }
  }
}
