.home {
  // background-image: url(/img/actionshots/actionshot0.jpg), url(/img/actionshots/actionshot2.jpg);
  // background-repeat: repeat-x, repeat;
  // background-position: center top;
  // height: 100vh;
  // border: $b 3px solid;
  // border-bottom: $s 2px solid;
  @media (min-width: 992px) {
    margin-top: 2.5%;
  }
}

#html #body #ui-view {

  & .mainPost {
    margin: 2.5% auto;
  }
  & .blogWhole {
    margin: 5% auto;

  }
  & .spaceBtm {
    margin-bottom: 5%;
  }
}
