
#menu {
  & .clickMe {
    cursor: pointer;
  }
  & .end {
    margin-right: 10px;
  }
}
.stop {
  cursor: none;
  pointer-events: none;
}
.navbar-brand {
  text-indent: 10px;
  color: $h;
  @media (max-width: 480px) {
    margin:  5px;
  }
}
