<div class="admin">
  <div class="col-xs-12">
    <button type="button" class="btn btn-gold fixedButtonBtmLeft" ng-click="newPiece()"  ng-hide="editPortfolio.show">New Piece</button>
  </div>
  <div ng-hide="editPortfolio.show">
    <div class="col-xs-12" ng-repeat="post in portfolioImages">
      <div class="blogBox noMin" ng-click="portfolioEdit(post, $index)">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-6">
            <img ng-src="{{post.url}}" alt="" class='max'/>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>{{post.text}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12" ng-show="editPortfolio.show">
    <div class="blogBox noPointer noMin">
      <div class="row">
        <div class="col-xs-12 text-left hidden-xs button-row">
          <button type="button" class="btn hidden-xs btn-white" ng-click="editPortfolio.show = !editPortfolio.show">Back</button>
        </div>
        <div class="col-xs-12 text-center show-xs button-row">
          <button type="button" class="btn btn-block show-xs btn-white" ng-click="editPortfolio.show = !editPortfolio.show">Back</button>
        </div>
        <div class="col-xs-12">
          <div class="text-center">
            <img data-ng-src="{{portfolioDisplayEdit.url}}" alt="" class="max"/>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <h2>Url:</h2>
              <input type="text" ng-model="portfolioDisplayEdit.url"/>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h2>Large Image Url:</h2>
              <input type="text" ng-model="portfolioDisplayEdit.urlBig"/>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h2>Display Text:</h2>
              <input type="text" ng-model="portfolioDisplayEdit.text"/>
            </div>
          </div>
        </div>
        <div class="col-xs-12 buttonRowbottom text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn btn-block show-xs btn-white" ng-click="editPortfolio.show = !editPortfolio.show">Back</button>
              <button type="button" class="btn hidden-xs btn-white" ng-click="editPortfolio.show = !editPortfolio.show">Back</button>
            </div>
            <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn btn-block show-xs btn-gold" ng-click="savePortfolio(portfolioDisplayEdit._id, portfolioDisplayEdit, deleteIndex)">Save</button>
              <button type="button" class="btn save hidden-xs btn-gold" ng-click="savePortfolio(portfolioDisplayEdit._id, portfolioDisplayEdit, deleteIndex)">Save</button>
            </div>
            <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn btn-block show-xs btn-plain" ng-click="deletePortfolio(portfolioDisplayEdit._id, deleteIndex)">Delete</button>
              <button type="button" class="btn hidden-xs btn-plain" ng-click="deletePortfolio(portfolioDisplayEdit._id, deleteIndex)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!--
        <div class="goGreen2 col-xs-12" ng-class="{'hidden' : !successMessageDisplayTopPortfolio}">
          <div class="inner">
          </div>
        </div>
 -->
