<div class="admin">
  <div class="col-xs-12 hidden-xs fixedButtonBtmLeft">
    <button type="button" class="btn btn-gold" ng-click="newPost()">New Post</button>
  </div>
  <div class="col-xs-12 show-xs">
    <button class="btn-gold btn btn-block btn-block-xs" ng-click="newPost()">
      New Post
    </button>
  </div>
  <div class="col-xs-12" ng-repeat="post in blog">
    <div class="blogBox noMin noPointer">
      <div class="row pointer" ng-click="openBlogToggle = !openBlogToggle">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <img ng-src="{{post.img}}" alt="" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
          <h2 class="show-xs text-center">{{post.title}}</h2>
          <h2 class="hidden-xs text-left">{{post.title}}</h2>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
          <p>{{post.description}}</p>
        </div>
      </div>
      <div class="row" ng-show='openBlogToggle'>
        <div class="col-xs-12">
          <h3>Title:</h3>
          <input type="text" ng-model="post.title"/>
        </div>
        <div class="col-xs-12">
          <h3>Description:</h3>
          <textarea ROWS=3 class="textbox" ng-model="post.description"/>
        </div>
        <div class="col-xs-12">
          <h3>Body:</h3>
          <textarea ROWS=10 class="textbox" ng-model="post.body"/>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>URL:</h3>
          <input type="text" ng-model="post.urlCode"/>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>Image URL:</h3>
          <input type="text" ng-model="post.img"/>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>Live:</h3>
          <select class="" type="text" ng-model="post.live">
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h3>Category:</h3>
          <input type="text" ng-model="post.category.parent"/>
        </div>
        <div class="col-xs-12 col-sm-6 timeInput">
        <h3>Month/Day/Year/Time:</h3>
          <input type="text" ng-model="post.date.month"/> /
          <input type="text" ng-model="post.date.day"/> /
          <input type="text" ng-model="post.date.year"/> @
          <input type="text" ng-model="post.date.time"/>
        </div>
        <div class="col-xs-12 col-sm-6">
        <h3>Location:</h3>
        <select type="text" ng-model="post.loc">
            <option value="main">Main
            </option>
            <option value="subA">Sub-A
            </option>
            <option value="subB">Sub-B
            </option>
            <option value="subC">Sub-C
            </option>
          </select>
        </div>
        <div class="col-xs-12 buttonRowbottom text-center">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <button type="button" class="btn btn-plain btn-block show-xs" ng-click="deletePost(post._id, post, $index)">Delete Post</button>
              <button type="button" class="btn btn-plain" ng-click="deletePost(post._id, post, $index)">Delete Post</button>
            </div>
            <div class="col-xs-12 col-sm-6">
              <button type="button" class="btn btn-gold btn-block show-xs" ng-click="savePost(post._id, post, $index)">Save Post</button>
              <button type="button" class="btn btn-gold" ng-click="savePost(post._id, post, $index)">Save Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="" id="blogPosts"><div class="goGreen2 col-xs-12" ng-class="{'hidden' : !successMessageDisplayTopPost}"><div class="inner"></div></div>






        <div class="col-xs-12 col-sm-6 buttonSpaceForPostEditAndDelete">
          <button type="button" class="btn btn-danger" ng-click="deletePost(post._id, post, $index)">Delete Post</button>
        </div>
        <div class="col-xs-12 col-sm-6 buttonSpaceForPostEditAndDelete">
          <button type="button" class="btn btn-success" ng-click="savePost(post._id, post, $index)">Save Post</button>
        </div>
      </div>
    </div>

  </div>
</div> -->
