<div class="admin">
  <div class="col-xs-12"  ng-hide="editProduct.show">
    <button type="button" class="btn btn-gold fixedButtonBtmLeft" ng-click="newItemStart()">New Item</button>
    <button type="button" class="btn btn-gold fixedButtonBtmLeft" ng-click="newItemStart()">New Item</button>
  </div>
  <div ng-hide="editProduct.show">
    <div class="col-xs-12" ng-repeat="product in products">
      <div class="blogBox noPointer">
        <div class="row pointer text-center" ng-click="productEdit(product, $index)">
          <div class="col-xs-12 col-sm-6">
            <img data-ng-src="{{product.pictures[0]}}" alt="" class="max"/>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>{{product.name}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12" ng-show="editProduct.show">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div class="col-xs-12 hidden-xs text-left button-row">
          <button type="button" class="btn btn-white" ng-click="editProduct = !editProduct">Back</button>
        </div>
        <div class="col-xs-12 text-center show-xs button-row">
          <button type="button" class="btn btn-block btn-white" ng-click="editProduct = !editProduct">Back</button>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-12">
          <img data-ng-src="{{productDisplayEdit.pictures[0]}}" alt="" class="max"/>
          <div class="row productEditInput">
            <div class="col-xs-12 col-sm-4">
              <h2>Name:</h2>
              <input type="text" ng-model="productDisplayEdit.name"/>
            </div>
            <div class="col-xs-12 col-sm-4 timeInput">
              <h2>Quantity:</h2>
              <input type="text" ng-model="productDisplayEdit.quantity"/>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h2>Product Url:</h2>
              <input type="text" ng-model="productDisplayEdit.urlCode"/>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h2>Category:</h2>
              <input type="text" ng-model="productDisplayEdit.category.parent"/>
            </div>
            <div class="col-xs-12 col-sm-4 amount">
              <h2>Amount:</h2>
              <input type="text" ng-model="productDisplayEdit.price.amount"/>
            </div>
            <div class="col-xs-12 col-sm-4">
              <h2>Picture Url:</h2>
              <input type="text" ng-model="productDisplayEdit.pictures[0]"/>
            </div>
            <div class="col-xs-12">
              <h2>Product Display:</h2>
              <h4>{{productDisplayEdit.active}}</h4>
              <select type="text" ng-model="productDisplayEdit.active">
                <option value="true">True</option>
                <option value="false">False</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="row text-center buttonRowbottom">
            <div class="col-xs-12 show-xs">
              <button type="button" class="btn btn-block btn-white" ng-click="editProduct = !editProduct">Back</button>
            </div>
            <div class="col-xs-12 col-sm-4 hidden-xs">
              <button type="button" class="btn btn-white" ng-click="editProduct = !editProduct">Back</button>
            </div>
            <div class="col-xs-12 show-xs">
              <button type="button" class="btn btn-block btn-gold" ng-click="saveItem(productDisplayEdit._id, productDisplayEdit)">Save</button>
            </div>
            <div class="col-xs-12 col-sm-4 hidden-xs">
              <button type="button" class="btn save btn-gold" ng-click="saveItem(productDisplayEdit._id, productDisplayEdit)">Save</button>
            </div>
            <div class="col-xs-12 show-xs">
              <button type="button" class="btn btn-block btn-plain" ng-click="deleteItem(productDisplayEdit._id)">Delete</button>
            </div>
            <div class="col-xs-12 col-sm-4 hidden-xs">
              <button type="button" class="btn btn-plain" ng-click="deleteItem(productDisplayEdit._id)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- <div class="row" id='products'>

</div>
<div class="row" id='products' ng-show="editProduct.show">
  <div class="goGreen col-xs-12" ng-class="{'hidden' : !successMessageDisplayTop}">
    <div class="inner">

    </div>
  </div>

        <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn btn-block btn-warning" ng-click="editProduct = !editProduct">Back</button>
        </div>
        <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn btn-block btn-danger" ng-click="deleteItem(productDisplayEdit._id)">Delete</button>
        </div>
        <div class="col-xs-12 col-sm-4">
              <button type="button" class="btn btn-block btn-success" ng-click="saveItem(productDisplayEdit._id, productDisplayEdit)">Save</button>
        </div>
      </div>
  </div>
</div> -->
