<div class="container-fluid button-row">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <button ui-sref="admin.posts" class="btn btn-block hidden-xs btn-goldSecondary" ng-class="{ 'active' : postButton }">
        Posts
      </button>
      <button ui-sref="admin.posts" class="btn btn-block-xs show-xs  btn-goldSecondary" ng-class="{ 'active' : postButton }">
        Posts
      </button>
    </div>
    <div class="col-xs-12 col-sm-3 ">
      <button ui-sref="admin.users" class="btn btn-block hidden-xs btn-goldSecondary" ng-class='{"active": userButton}'>
        Users
      </button>
      <button ui-sref="admin.users" class="btn btn-block-xs show-xs  btn-goldSecondary" ng-class='{"active": userButton}'>
        Users
      </button>
    </div>
    <div class="col-xs-12 col-sm-3 ">
      <button ui-sref="admin.products" class="btn btn-block hidden-xs btn-goldSecondary" ng-class='{"active": productButton}'>
        Products
      </button>
      <button ui-sref="admin.products" class="btn btn-block-xs show-xs  btn-goldSecondary" ng-class='{"active": productButton}'>
        Products
      </button>
    </div>
    <div class="col-xs-12 col-sm-3 ">
      <button ui-sref="admin.portfolio" class="btn btn-block hidden-xs btn-goldSecondary" ng-class='{"active": portButton}'>
        Portfolio
      </button>
      <button ui-sref="admin.portfolio" class="btn btn-block-xs show-xs  btn-goldSecondary" ng-class='{"active": portButton}'>
        Portfolio
      </button>
    </div>
  </div>
</div>

<div class="" ui-view></div>
