<div class="row text-center" id="bio">
  <div class=" titleOH"></div>
    <h1 class="text-left title highlight hidden-xs">Bio</h1>
          <div class="col-xs-12 col-lg-6" id="cards">
            <div class="" id="bioCards">
              <div class="card-container zIndex2" id="one">
                <div class="card sideA" ng-click="zIndex(1);">
                  <div class="imgBackground">
                    <img src="http://www.eonline.com/eol_images/Entire_Site/20131010/rs_600x600-131110105416-600.Vivienne-Tom-Brady-Gisele-Bundchn.jl.111013.jpg" alt="" />
                  </div>
                  <p class="title highlight">Together</p>

                </div>
              </div>
              <div class="card-container zIndex3" id="two">
                <div class="card sideA" ng-click="zIndex(2);">
                  <div class="imgBackground">
                    <img src="http://www.eonline.com/eol_images/Entire_Site/2014127/rs_600x600-140227072549-600-Kristin-Cavallari-Jay-Cutler-JR-22714.jpg" alt="" />
                  </div>
                  <p class="title highlight">Timeout</p>
                                            </div>
                                </div>

              <div class="card-container zIndex4" id="three">
                <div class="card sideA" ng-click="zIndex(3);">
                  <div class="imgBackground">
                    <img src="http://img2-1.timeinc.net/people/i/2015/news/151228/zoe-saldana-600.jpg" alt="" />
                  </div>
                  <p class="title highlight">Vacation</p>
                          </div>
              </div>

            </div>
          </div>
          <div class="col-xs-12 col-lg-6">
            <div class="biotron" id="biotron">
            <h1>Cale McBurnie is a Bad MF'er</h1>
            <p>
              One dope Mc, 3 wolf moon aesthetic bespoke hoodie mollit, kitsch elit heirloom occupy portland cliche wolf. Marfa readymade pinterest kinfolk deep v, godard leggings quinoa direct trade sapiente. Paleo synth etsy officia fanny pack fashion axe laboris.
              Food truck 90's aesthetic, church-key eiusmod sunt beard DIY tote bag pour-over asymmetrical aliqua hoodie knausgaard keytar. Banjo green juice occupy messenger bag flexitarian. Asymmetrical hoodie pitchfork, gastropub church-key schlitz
              waistcoat neutra exercitation shabby chic. Accusamus enim keffiyeh sunt sed.
            </p>
            </div>
          </div>
</div>
