<div class="banner"><img src="img\bio\bio3.jpg" alt=""></div>
<div class="bio">
  <div class="landingPageTitles">
    <h1>Cale McBurnie</h1>
  </div>
  <p>
    Born in San Diego who is raised on sunshine and gnarly waves. A free-spirit at heart and an artist by trade, with the intention to paint his soul into the world.
  </p>
</div>
<div class="col-xs-12 bioBlogBox">
  <div class="blogBox">
    <h2>
      "He only lives for that narcotic moment of creative bliss.”
    </h2>
    <h3>
      —Jim Broadbent
    </h3>
  </div>
</div>
