<div class="row text-center" id="signUp">
  <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h1>Sign Up / Login</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-3 ">
        <div class="row">
          <a href="#">
            <div class="login col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
              <i class="fa fa-facebook-square fa-login"></i><span class="hidden-sm hidden-md hidden-lg"> Facebook</span>
            </div>
          </a>
        </div>
      </div>
        <div class="col-xs-12 col-sm-3 ">
          <div class="row">
            <a href="#">
              <div class="login col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <i class="fa fa-google fa-login"></i><span class="hidden-sm hidden-md hidden-lg"> Google</span>
                </div>
              </a>
            </div>
          </div>
            <div class="col-xs-12 col-sm-3 ">
              <div class="row">
                <a href="#">
                  <div class="login col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                      <i class="fa fa-github fa-login"></i><span class="hidden-sm hidden-md hidden-lg"> GitHub</span>
                  </div>
                </a>
              </div>
            </div>
              <div class="col-xs-12 col-sm-3 ">
                <div class="row">
                  <a href="#">
                    <div class="login col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <i class="fa fa-twitter fa-login"></i><span class="hidden-sm hidden-md hidden-lg"> Twitter</span>

                      </div>
                    </a>
                  </div>
                </div>
              </div>
      </div>

  </div>
