<nav id="menu" class="navbar-fixed-top navbar navbar-default" ng-controller='menuCtrl'>
         <div class="container-fluid">
           <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <i class="fa fa-navicon"></i>
     </button>
     <a class="navbar-brand" href>K.C.</a>
   </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <ul class="nav navbar-nav navbar-right" id="myNav123">
                  <li  class="menuBar" ng-class="{ active: isActive('/')}">
                     <a ui-sref="home" target="">Home</a>
                  </li>
                     <li  ng-class="{ active: isActive('/portfolio')}" class="menuBar">
                        <a ui-sref="portfolio" target="">Portfolio</a>
                     </li>
                  <li ng-class="{ active: isActive('/blog')}" class="menuBar">
                     <a ui-sref="blog">Blog</a>
                  </li>
                  <li ng-class="{ active: isActive('/bio')}" class="menuBar">
                     <a ui-sref="bio">Bio</a>
                  </li>
                    <li ng-class="{ active: isActive('/store')}" class="dropdown " ><a class="dropdown-toggle" data-toggle="dropdown" ui-sref="store">Store
                      <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li class="menuBar"><a ui-sref="store.categories.all">All</a></li>
                    <li class="menuBar"><a ui-sref="store.graphics">Graphic Design</a></li>
                    <li class="menuBar"><a ui-sref="store.paintings">Paintings</a></li>
                    <li class="menuBar"><a ui-sref="store.prints">Prints</a></li>
                    <li class="menuBar"><a ui-sref="store.skateboards">Skateboards</a></li>
                    <li class="menuBar"><a ui-sref="store.stickers">Stickers</a></li>
                    <li class="menuBar"><a ui-sref="store.upcycle">Upcycle</a></li>
                      </ul>
                  </li>
                  <li class="menuBar" ng-class="{ active: isActive('/profile')}">
                     <a ui-sref="profile" class="" ng-show="user.profile"><i class="fa fa-profile"></i> Profile</a>
                  </li>
                  <li class="menuBar" ng-hide="user.profile">
                     <a href="/auth/facebook" class=""><i class="fa fa-sign-in"></i> Login</a>
                  </li>
                  <li class="menuBar" ng-class="{ active: isActive('/cart')}" ng-show="user.profile">
                     <a ui-sref="cart" class=""><i class="fa fa-shopping-cart"></i> Cart</a>
                  </li>
                  <li class="menuBar" ng-class="{ active: isActive('/admin')}" ng-show="user.admin">
                     <a ui-sref="admin" class=""><i class="fa fa-puzzle-piece"></i> Admin</a>
                  </li>
                  <li class="hidden-xs menuBar" ng-show="user.profile">
                     <img ng-src="{{user.profile.picture}}" class="loginThumbnail" alt=""/>
                  </li>
                  <li class="menuBar end" ng-show="user.profile">
                     <a class="" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
