<div class="store">
  <div class="storeTitle">
    <h1 ng-class="{ 'hidden': subcategoryActive }">All</h1>
    <h1 ng-class="{ 'hidden': !subcategoryActive }"><a class="onWhiteBackground" ui-sref="store.categories.all">All </a><small class="arrow">&gt; </small> {{subcategory}}</h1>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4 storeBlogBox checkForThird"  ng-repeat="product in products | filter:{active: true}">
        <div class="blogBox">
          <a ui-sref="store.product({ urlCode: product.urlCode })">
            <img ng-src="{{product.pictures[0]}}" class="img-responsive" alt="" />
          </a>
          <a ui-sref="store.product({ urlCode: product.urlCode })" class="onWhiteBackground">
            <p class="title">{{product.name}}</p>
          </a>
          <button ng-click="addToCart(product._id, 1, product)" class="btn btn-gold hidden-xs cartButton"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
          <button ng-click="addToCart(product._id, 1, product)" class="btn btn-block btn-gold show-xs cartButton"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
