<div class="row" id='products'>
  <div class="" id="cards">
      <div class="col-xs-12 col-md-6 col-lg-4 fivehundredpx"  ng-repeat="product in products | filter:{active: true}">
      <div class="hover">
        <div class="card-container" ng-class="{'flip': learnMore}">
        <div class="card sideA">
          <a ui-sref="store.product({ urlCode: product.urlCode })">
                    <div class="imgBackground">
                      <img ng-src="{{product.pictures[0]}}" alt="" />
                    </div>
                    </a>
                    <p class="title highlight">{{product.name}}</p>
                    <button href class="btnProductDisplay btnInfo" id="infoOne" ng-click="learnMore = !learnMore">
              <i class="fa fa-info-circle"></i><span class="learnMore"></span>
            </button>
                    <button ng-click="addToCart(product._id, 1, user, cart, product)" class="btnProductDisplay btnCart">
              <span></span>
              <i class="fa fa-shopping-cart"></i>
            </button>
        </div>
        <div class="card sideB">
                        <a ui-sref="store.product({ urlCode: product.urlCode })">
                        <div class="imgBackground backside">
                          <p class="backsideTitle">{{product.name}}</p>
                          <p class="body hidden-xs hidden-landscape">{{product.info}}</p>
                        </div>
                        </a>
                        <p class="title">{{product.displayPrice}}</p>
                        <button href class="btnProductDisplay btnInfo" id="backOne" ng-click="learnMore = !learnMore">
                  <i class="fa fa-info-circle"></i><span class="artwork"></span>
                </button>
                        <button href class="btnProductDisplay btnCart" ng-click="addToCart(product._id, 1, product)">
                  <span></span>
                  <i class="fa fa-shopping-cart"></i>
                </button>
        </div>

      </div>






          <!-- <a ui-sref="store.product({ urlCode: product.urlCode })">
      <div class="card flip">
        <div class="imgBackground">
          <img ng-src="{{product.pictures[0]}}" alt="" />
        </div>
        <p class="highlight">{{product.name}}</p>
        <button href class="btn btnInfo">
    <i class="fa fa-info-circle"></i><span class="learnMore"></span>
  </button>
        <button href class="btn btnCart">
    <span></span>
    <i class="fa fa-shopping-cart"></i>
  </button>
      </div>
    </a> -->
    </div>
    </div>
</div>
</div>
