<div class="row text-center" id="profile">
  <div class="col-xs-12">
    <h1 class="text-left">Profile</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div class="row">
          <div class="col-xs-12">
          <a ui-sref="profile.dashboard">Dashboard</a>
          </div>
          <div class="col-xs-12">
          <a ui-sref="profile.edit">Edit Account</a>
          </div>
          <div class="col-xs-12">
          <a ui-sref="profile.orderHistory">Order History</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10" ui-view>
      </div>
    </div>
  </div>
</div>
