<div class="singleItem">
  <div class="col-xs-12">
    <div class="blogBox noMin noPointer">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-6">
          <img src="{{singleItem.pictures[0]}}" alt="" class="max"/>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="row">
            <div class="col-xs-12">
              <h2>{{singleItem.name}}</h2>
            </div>
            <div class="col-xs-12 text-center">
              <h6 ng-hide="!singleItem.sku">{{singleItem.sku}}</h6>
              <h6 ng-hide="singleItem.sku">sku-sku-sku-number</h6>
            </div>
            <div class="col-xs-12">
              <h3 ng-hide="!singleItem.quantity">{{singleItem.displayPrice}}</h3>
              <h3 ng-show="!singleItem.quantity" id="redSold">SOLD!</h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="row text-center spaceForQuantity">
            <div class="col-xs-12">
              <h3 ng-show="quantityCheck(singleItem.quantity)" ng-hide="!singleItem.quantity || quantityCheck(singleItem.quantity)">{{quantity.val}}</h3>
              <h3 ng-show="quantityCheck(singleItem.quantity)" ng-hide="!singleItem.quantity || !quantityCheck(singleItem.quantity)">{{quantity.val}}</h3>
            </div>
            <div class="col-xs-12">
              <button ng-hide="!singleItem.quantity" type="button" class="btn btn-plain" ng-class="{'hideAnimation disabledBTN': quantity.val == singleItem.quantity, 'showAnimation': quantity.val != singleItem.quantity}" ng-click="quantityChange(1)"><i class="fa fa-arrow-up"></i></button>
              <button ng-hide="!singleItem.quantity" type="button" class="btn btn-plain" id="downArrow" ng-class="{'hideAnimation disabledBTN': quantity.val == 1, 'showAnimation': quantity.val != 1}" ng-click="quantityChange(0)"><i class="fa fa-arrow-down"></i></button>
            </div>
            <div class="col-xs-12">
              <button id="blockBtn" type="button" class="btn btn-gold btn-block show-xs" ng-click="addToCart(singleItem._id, quantity.val, singleItem)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
              <button ng-hide="!singleItem.active" type="button" id="nonblockBtn" class="btn btn-gold hidden-xs" ng-click="addToCart(singleItem._id, quantity.val, singleItem)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="singleItem" ng-include="'templates/relatedItems/relatedItemsDisplay.html'"></div>





<!--

            <div class="col-xs-12">
                    <button ng-hide="!singleItem.quantity" type="button" class="abtn qUp cartButton thumbAnimation" ng-class="{'hideAnimation disabledBTN': quantity.val == singleItem.quantity, 'showAnimation': quantity.val != singleItem.quantity}" ng-click="quantityChange(1)"><i class="fa fa-arrow-up"></i></button>
                      <button ng-hide="!singleItem.quantity" type="button" class="abtn qDown cartButton thumbAnimation" id="downArrow" ng-class="{'hideAnimation disabledBTN': quantity.val == 1, 'showAnimation': quantity.val != 1}" ng-click="quantityChange(0)"><i class="fa fa-arrow-down"></i></button>
            </div>
            <div class="col-xs-12">
              <h3 ng-hide="!singleItem.quantity">{{singleItem.displayPrice}}</h3>
              <h3 ng-show="!singleItem.quantity" id="redSold">SOLD!</h3>
            </div>
            </div>
            <button id="blockBtn" type="button" class="abtn btn-success btn-block hidden-sm hidden-md hidden-lg" ng-click="addToCart(singleItem._id, quantity.val, singleItem)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
            <button ng-hide="!singleItem.active" type="button" id="nonblockBtn" class="abtn btn-success hidden-xs" ng-click="addToCart(singleItem._id, quantity.val, singleItem)"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
          </div>
          </div>
        </div>
        <div class="" ng-include="'templates/relatedItems/relatedItemsDisplay.html'"></div> -->
