<div class="closeOut" ng-click="toggleThis('Shipping')">
  <i class="fa fa-times"></i>
</div>
<div class="col-xs-12 col-md-8 col-lg-10">
  Name:
</div>
<div class="col-xs-12 text-right totalMargin">
  {{x.shippingAddress.name}}
</div>
<div class="col-xs-12 col-md-8 col-lg-10">
  Address:
</div>
<div class="col-xs-12 col-md-4 col-lg-2 text-right totalMargin">
  {{x.shippingAddress.address}}
</div>
<div class="col-xs-12 col-md-8 col-lg-10">
  City:
</div>
<div class="col-xs-12 text-right totalMargin">
  {{x.shippingAddress.city}}
</div>
<div class="col-xs-12">
  State:
</div>
<div class="col-xs-12 text-right">
  {{x.shippingAddress.state}}
</div>
<div class="col-xs-12">
  Postal Code:
</div>
<div class="col-xs-12 text-right">
  {{x.shippingAddress.zip}}
</div>
<div class="col-xs-12">
  Country:
</div>
<div class="col-xs-12 text-right">
  {{x.shippingAddress.country}}
</div>
