.posts {
  margin-bottom: 50px;
}
.editSpace {
  margin-bottom: 2em;
}
#products .editSpace img {
  @media (max-width: 480px) {
    width: 150px;
    height: 150px;
  }
}
.adminPanelLinks {
  color: $b;
  margin-top: 2em;
  &:hover {
    text-decoration: none;
  }
}
.lilSpaceDawg {
  margin-bottom: 2%;
}
