.storeBlogBox {
  margin-top: 1.5em;
  & img {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
  }
  & .blogBox {
    position: relative;
    cursor: auto;
    @media (min-width: 768px) {
      padding-bottom: -moz-calc(5% + 40px);
      padding-bottom: -webpack-calc(5% + 40px);
      padding-bottom: calc(5% + 40px);
      min-height: 462px;
    }
    & p.title {
      font-size: 1.5em;
      line-height: 1.75em;
      text-align: center;
    }
    & button.cartButton.hidden-xs {
      position: absolute;
      right: 5%;
      bottom: 5%;
    }
  }
}
.store {
  padding: 5%;
  & .storeTitle {
    padding-left: 5%;
    & h1 a.onWhiteBackground {
      font-size: 65%;
    }
  }
}
