<div class="row text-center" id="cart">
  <div class="divider" id="dashboard">
  <h1 class="text-left title highlight">Cart</h1>
  </div>
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" ng-hide="!cartA.items[0]">
    <div class="row itemDelete">
      <div class="col-xs-12 cartSpacer" ng-class="{ 'item' : delete.go }" ng-repeat="item in cartA.items" id="orderHistory">
              <div class="col-xs-12 col-sm-7 col-md-6" id="cards">
                    <div class="" id="singleCards">
                      <div class="card-container">
                        <div class="card sideA">
                          <div class="imgBackground">
                            <a ui-sref="store.product({ urlCode: item.product.urlCode })">
                              <img src="{{item.product.pictures[0]}}" alt="{{item.product.name}}" />
                            </a>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6 title">
                <a id="cartItemTitle" ui-sref="store.product({ urlCode: item.product.urlCode })">
                  <h2 class="alignCenter">{{item.product.name}}</h2>
                </a>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3">
                <h3 class="alignCenter">{{item.product.displayPrice}}</h3>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-3 col-lg-offset-0 col-lg-3">
                <div class="row">
                  <div class="col-xs-12">
                    <h3 class="alignCenter">{{item.quantity}}</h3>
                  </div>
                  <div class="col-xs-12">
                          <button ng-hide="!item.product.quantity" type="button" class="abtn qUp cartButton thumbAnimation" ng-class="{'hideAnimation': item.quantity == item.product.quantity, 'showAnimation': item.quantity != item.product.quantity}" ng-click="quantityTotalAddition($index)"><i class="fa fa-arrow-up"></i></button>
                            <button type="button" class="abtn qDown cartButton thumbAnimation" id="downArrow" ng-class="{'hideAnimation': item.quantity == 1, 'showAnimation': item.quantity != 1}" ng-click="quantityTotalMinus($index)"><i class="fa fa-arrow-down"></i></button>
                          <button type="button" class="btna btn-danger cartButton" ng-click="delete.go = true; deleteCartItem($index)"><i class="fa fa-trash"></i></button><br/>
                        <h3 id="stock" ng-class="{'inStock': item.product.quantity, 'outStock': !item.product.quantity}"></h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="row innerRow">
            <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="row innerShipping">
                <div class="col-xs-12">
                  <h3>Postal Code: </h3>
                  <div class="zipcode" ng-hide="user.data.shippingAddress.useBilling"><label ng-click="zipEdit = !zipEdit" ng-hide="zipEdit">{{user.data.shippingAddress.zip}}</label><input ng-show="zipEdit" ng-blur="zipEdit = false;" type="text" class="zipcode" ng-model="user.data.shippingAddress.zip"> </div>
                  <div class="zipcode" ng-show="user.data.shippingAddress.useBilling"><label ng-click="zipEdit = !zipEdit" ng-hide="zipEdit">{{user.data.billingAddress.zip}}</label><input ng-show="zipEdit" ng-blur="zipEdit = false;" type="text" class="zipcode" ng-model="user.data.billingAddress.zip"> </div>
                  </div>
                </div>
              </div> -->
            <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7 subTotalBox">
              <div class="row innerShipping">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
                  Subtotal:
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 cartRight">
                  ${{cartA.subTotal}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md68 col-lg-8">
                  Tax:
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 cartRight">
                  ${{cartA.tax}}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
                  Shipping:
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 cartRight">
                  ${{cartA.shipping}}
                </div>
                <div class="col-xs-12">
                  <h3>Total:</h3>
                </div>
                <div class="col-xs-12 cartRight">
                  <h4>${{cartA.total}}</h4>
                </div>
              </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
                <button ui-sref="cart.review" type="button" class="abtn btn-success btn-block" id="checkoutBtn"><i class="fa fa-shopping-cart"></i> Checkout</button>
              </div>
            </div>

        </div>
<div class="col-xs-12" ng-show="!cartA.items[0]">
  <div class="cartNoItems">
  <h1>Empty Cart</h1>
  <a ui-sref="store.categories.all">View the Store.</a>
  </div>
</div>
</div>
