<div class="checkout">
  <div class="col-xs-12 spaceTopReview">
    <div class="blogBox noPointer noMin">
      <div class="row historySpace" ng-repeat="item in cartA.items">
        <div class="show-xs text-center">
          <div class="col-xs-12">
            <a ui-sref="store.product({ urlCode: item.urlCode })">
              <img src="{{item.product.pictures[0]}}" alt="{{item.product.name}}" />
            </a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <a ui-sref="store.product({ urlCode: item.urlCode })" class="onWhiteBackground">
              <h2>{{item.product.name}}</h2>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h3h2>x {{item.quantity}}</h3h2>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h3h2>{{item.product.displayPrice}}</h3h2>
          </div>
        </div>
        <div class="hidden-xs">
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <a ui-sref="store.product({ urlCode: item.urlCode })">
              <img src="{{item.product.pictures[0]}}" alt="{{item.product.name}}" />
            </a>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <a ui-sref="store.product({ urlCode: item.urlCode })" class="onWhiteBackground">
              <h2>{{item.product.name}}</h2>
            </a>
          </div>
          <div class="col-xs-12 col-sm-6 text-right">
            <h3>x {{item.quantity}}</h3>
          </div>
          <div class="col-xs-12 col-sm-6 text-right">
            <h3>{{item.product.displayPrice}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 hidden-xs col-sm-6 col-md-8 col-lg-9">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hidden-xs">Payment</h1>
          <h1 class="show-xs text-center">Payment</h1>
        </div>
        <div class="col-xs-12 col-sm-8">
          <h3>Number:</h3>
          <h4>{{stripeToken.stripeToken.number}}</h4>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3>CVC:</h3>
          <h4>{{stripeToken.stripeToken.cvc}}</h4>
        </div>
        <div class="col-xs-12 col-sm-12">
          <h3>Expires (Month/Year):</h3>
          <h4>{{stripeToken.stripeToken.exp_month}} / {{stripeToken.stripeToken.exp_year}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div class="col-xs-12">
          <h3>Subtotal:</h3>
          <h4 class="text-right">${{cartA.subTotal}}</h4>
          <h3>Tax:</h3>
          <h4 class="text-right">${{cartA.tax}}</h4>
          <h3>Shipping:</h3>
          <h4 class="text-right">${{cartA.shipping}}</h4>
          <h3>Total:</h3>
          <h4 class="text-right">${{cartA.total}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 show-xs">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hidden-xs">Payment</h1>
          <h1 class="show-xs text-center">Payment</h1>
        </div>
        <div class="col-xs-12">
          <h3>Number:</h3>
          <h4 class="text-right">{{stripeToken.stripeToken.number}}</h4>
        </div>
        <div class="col-xs-12">
          <h3>CVC:</h3>
          <h4 class="text-right">{{stripeToken.stripeToken.cvc}}</h4>
        </div>
        <div class="col-xs-12">
          <h3>Exp Month/Year:</h3>
          <h4 class="text-right">{{stripeToken.stripeToken.exp_month}} / {{stripeToken.stripeToken.exp_year}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hidden-xs">Billing Address</h1>
          <h1 class="show-xs text-center">Billing Address</h1>
        </div>
        <div class="col-xs-12">
          <h2>Name:</h2>
          {{user.data.billingAddress.name}}
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Address Line 1:</h2>
          {{user.data.billingAddress.address}}
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Address Line 2:</h2>
          {{user.data.billingAddress.address2}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>City:</h2>
          {{user.data.billingAddress.city}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>State:</h2>
          {{user.data.billingAddress.state}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>Zip:</h2>
          {{user.data.billingAddress.zip}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>Country:</h2>
          {{user.data.billingAddress.country}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div ng-class="{'hidden': user.data.shippingAddress.useBilling == true}">
          <div class="col-xs-12">
            <h1 class="hidden-xs">Shipping Address</h1>
            <h1 class="show-xs text-center">Shipping Address</h1>
          </div>
          <div class="col-xs-12">
            <h2>Name:</h2>
            {{user.data.shippingAddress.name}}
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Address Line 1:</h2>
            {{user.data.shippingAddress.address}}
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Address Line 2:</h2>
            {{user.data.shippingAddress.address2}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>City:</h2>
            {{user.data.shippingAddress.city}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>State:</h2>
            {{user.data.shippingAddress.state}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>Zip:</h2>
            {{user.data.shippingAddress.zip}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>Country:</h2>
            {{user.data.shippingAddress.country}}
          </div>
        </div>
        <div ng-class="{'hidden': user.data.shippingAddress.useBilling == false, 'profileUserName': user.data.shippingAddress.useBilling == true}">
          <div class="col-xs-12">
            <h1 class="hidden-xs fadedOut">Shipping Address</h1>
            <h1 class="show-xs text-center fadedOut">Shipping Address</h1>
          </div>
          <div class="col-xs-12">
            <h2 class="hidden-xs">Same As Billing Address</h2>
            <h2 class="show-xs">Same As Billing Address</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 text-center cartButtons">
  <div class="row">
    <div class="col-xs-6">
      <button ui-sref="cart.review" type="button" class="btn btn-plain"><i class="fa fa-arrow-left"></i> Review</button>
    </div>
    <div class="col-xs-6">
      <button  ng-click="checkout(stripeToken)" type="button" class="btn btn-gold" value="submit"><i class="fa fa-shopping-cart"></i> Checkout</button>
    </div>
  </div>
</div>
