<div class="row" id="profile">
  <div class="" id="dashboard"><div class="row text-center" id="cart">
  <div class="divider"><h1 class="title highlight">Cart</h1></div>
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="row itemDelete">
        <div class="col-xs-12 cartSpacer" ng-class="{ 'item' : delete.go }" ng-repeat="item in cartA.items" id="orderHistory">
                <div class="col-xs-12 col-sm-7 col-md-6" id="cards">
                      <div class="" id="singleCards">
                        <div class="card-container">
                          <div class="card sideA">
                            <div class="imgBackground">
                              <a ui-sref="store.product({ urlCode: item.product.urlCode })">
                              <img src="{{item.product.pictures[0]}}" alt="{{item.product.name}}" />
                              </a>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                  <h2>{{item.product.name}}</h2>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 text-center">
                  <h3 class="alignCenter">{{item.product.displayPrice}}</h3>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-0">
                  <div class="row">
                    <div class="col-xs-12">
                      <h3 class="alignCenter">{{item.quantity}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="row innerRow">
              <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8 subTotalBox">
                <div class="row innerShipping">
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
                    <h4>Subtotal:</h4>
                  </div>
                  <div class="col-xs-12 cartRight">
                    <span class="totalNumbers">${{cartA.subTotal}}</span>
                  </div>
                  <div class="col-xs-12">
                    <h4>Tax:</h4>
                  </div>
                  <div class="col-xs-12 cartRight">
                    <span class="totalNumbers">${{cartA.tax}}</span>
                  </div>
                  <div class="col-xs-12">
                    <h4>Shipping:</h4>
                  </div>
                  <div class="col-xs-12 cartRight">
                    <span class="totalNumbers">${{cartA.shipping}}</span>
                  </div>
                  <div class="col-xs-12">
                    <h3>Total:</h3>
                  </div>
                  <div class="col-xs-12 cartRight">
                    <h4>${{cartA.total}}</h4>
                  </div>
                </div>
                </div>
          </div>

          </div>
  </div>
  <div class="divider"><h1 class="title highlight">Billing Address</h1></div>
  <div class="col-xs-12 footing">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.name}}</label><input type="text" ng-model="user.data.billingAddress.name" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.address}}</label><input type="text" ng-model="user.data.billingAddress.address" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.city}}</label><input type="text" ng-model="user.data.billingAddress.city" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.state}}</label><input type="text" ng-model="user.data.billingAddress.state" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.zip}}</label><input type="text" ng-model="user.data.billingAddress.zip" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.country}}</label>
        <input type="text" ng-model="user.data.billingAddress.country" ng-blur="editing = false;" ng-show="editing"/>
      </div>
    </div>
  </div>
  <div class="divider"><h1 class="title highlight">Shipping Address</h1></div>
  <div class="col-xs-12 footingP">
      <div class="row" ng-class="{'hidden': user.data.shippingAddress.useBilling == true}">
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.name}}</label><input type="text" ng-model="user.data.shippingAddress.name" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.address}}</label><input type="text" ng-model="user.data.shippingAddress.address" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.city}}</label><input type="text" ng-model="user.data.shippingAddress.city" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.state}}</label><input type="text" ng-model="user.data.shippingAddress.state" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.zip}}</label><input type="text" ng-model="user.data.shippingAddress.zip" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.country}}</label><input type="text" ng-model="user.data.shippingAddress.country" ng-blur="editing = false;" ng-show="editing"/>
        </div>
      </div>
      <div class="row"  ng-class="{'hidden': user.data.shippingAddress.useBilling == false, 'profileUserName': user.data.shippingAddress.useBilling == true}">
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.name}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.address}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.city}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.state}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.zip}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.country}}</label>
          </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-8 reviewUseBill" id="useBill">
    <div class="gold">
        <label ng-class="{'greena': user.data.shippingAddress.useBilling, 'reda': !user.data.shippingAddress.useBilling}" id="reviewUseBilling">Use Billing <span ng-show="user.data.shippingAddress.useBilling" class="thumbAnimation" ng-class="{'showAnimation': user.data.shippingAddress.useBilling, 'hideAnimation': !user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-up"></i></span><span ng-show="!user.data.shippingAddress.useBilling" class="thumbAnimation" ng-class="{'showAnimation': !user.data.shippingAddress.useBilling, 'hideAnimation': user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-down"></i></span></label>
        </div>
  </div>
  <div class="divider"><h1 class="title highlight">Payment</h1></div>
  <div class="col-xs-12">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-2">
      <h3>Number:</h3><label size="16" class="text-center" required>{{stripeToken.stripeToken.number}}</label>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <h3>CVC:</h3><label ng-model="stripeToken.stripeToken.cvc" maxlength="3" size="1" class="text-center" required>{{stripeToken.stripeToken.cvc}}</label>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-4">
      <h3>Exp Month/Year:</h3><label maxlength="2" size="1" class="text-center" required>{{stripeToken.stripeToken.exp_month}}</label>/<label maxlength="4" size="1"  class="text-center" required>{{stripeToken.stripeToken.exp_year}}</label>
    </div>
    </div>
  </div>

</div>
</div>
<div class="col-xs-12 next-buttons">
<div class="col-xs-6">
        <button ui-sref="cart.review" type="button" class="abtn btn-danger"><i class="fa fa-arrow-left"></i> Review</button>
      </div>
      <div class="col-xs-6">
        <button  ng-click="checkout(stripeToken)" type="button" class="abtn btn-success" value="submit"><i class="fa fa-shopping-cart"></i> Checkout</button>
      </div>
    </div>
  </div>
  </div>
</div>
