<div class="row" id="profile">
  <div class="" id="dashboard">
    <div id="confirmation">
      <div class="divider"><h1 class="title highlight">Confirmation</h1></div>
    <div class="col-xs-12" id="status" ng-class="{'success': statusCharge == true, 'failed': statusCharge == false, 'waiting': !statusCharge}">
      <div class="row">
        <div class="col-xs-12 text-center" ng-show="statusCharge == true">
          Success
        </div>
        <div class="col-xs-12 text-center" ng-show="statusCharge == false">
          Failed
        </div>
        <div class="col-xs-12 text-center" ng-show="!statusCharge">
          Waiting...
        </div>
      </div>
    </div>
      <div class="divider"><h1 class="title highlight">Billing Address</h1></div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Name:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.name}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Address:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.address}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>City:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.city}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>State:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.state}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Zip:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.zip}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Country:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.country}}</h4>
              </div>
            </div>
            </div>

            <div class="divider"><h1 class="title highlight">Shipping Address</h1></div>
        <div class="row one">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Name:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.name}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Address:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.address}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>City:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.city}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>State:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.state}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Zip:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.zip}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Country:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.country}}</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-8 reviewUseBill" id="useBill">
            <div class="gold">
                <label ng-class="{'greena': user.data.shippingAddress.useBilling, 'reda': !user.data.shippingAddress.useBilling}" id="reviewUseBilling">Use Billing <span ng-show="user.data.shippingAddress.useBilling" class="thumbAnimation" ng-class="{'showAnimation': user.data.shippingAddress.useBilling, 'hideAnimation': !user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-up"></i></span><span ng-show="!user.data.shippingAddress.useBilling" class="thumbAnimation" ng-class="{'showAnimation': !user.data.shippingAddress.useBilling, 'hideAnimation': user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-down"></i></span></label>
                </div>
          </div>
        </div>
      </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7 subTotalBox">
            <div class="row" id="confirmationTotal">
              <div class="col-xs-12">
                <h3>Charge:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>{{orderPlaced.card + " " + orderPlaced.last4}}</h4>
              </div>
                <div class="col-xs-12">
                  <h3># items:</h3>
                </div>
                <div class="col-xs-12 text-right">
                  <h4>{{orderPlaced.cart.len}}</h4>
                </div>
                <div class="col-xs-12">
                  <h3>Sub-Total:</h3>
                </div>
                <div class="col-xs-12 text-right">
                  <h4>${{orderPlaced.cart.subTotal}}</h4>
                </div>
              <div class="col-xs-12">
                <h3>Shipping:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>${{orderPlaced.cart.shipping}}</h4>
              </div>
              <div class="col-xs-12">
                <h3>Tax:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>${{orderPlaced.cart.tax}}</h4>
              </div>
              <div class="col-xs-12">
                <h3>Grand total:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>${{orderPlaced.cart.total}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
