<div class="checkout">
  <div class="col-xs-12 spaceTopReview">
  </div>
  <div class="col-xs-12">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hidden-xs">Billing Address</h1>
          <h1 class="show-xs text-center">Billing Address</h1>
        </div>
        <div class="col-xs-12">
          <h2>Name:</h2>
          {{orderPlaced.billingAddress.name}}
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Address Line 1:</h2>
          {{orderPlaced.billingAddress.address}}
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2>Address Line 2:</h2>
          {{orderPlaced.billingAddress.address2}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>City:</h2>
          {{orderPlaced.billingAddress.city}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>State:</h2>
          {{orderPlaced.billingAddress.state}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>Zip:</h2>
          {{orderPlaced.billingAddress.zip}}
        </div>
        <div class="col-xs-12 col-sm-4">
          <h2>Country:</h2>
          {{orderPlaced.billingAddress.country}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div ng-class="{'hidden': orderPlaced.shippingAddress.useBilling == true}">
          <div class="col-xs-12">
            <h1 class="hidden-xs">Shipping Address</h1>
            <h1 class="show-xs text-center">Shipping Address</h1>
          </div>
          <div class="col-xs-12">
            <h2>Name:</h2>
            {{orderPlaced.shippingAddress.name}}
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Address Line 1:</h2>
            {{orderPlaced.shippingAddress.address}}
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>Address Line 2:</h2>
            {{orderPlaced.shippingAddress.address2}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>City:</h2>
            {{orderPlaced.shippingAddress.city}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>State:</h2>
            {{orderPlaced.shippingAddress.state}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>Zip:</h2>
            {{orderPlaced.shippingAddress.zip}}
          </div>
          <div class="col-xs-12 col-sm-4">
            <h2>Country:</h2>
            {{orderPlaced.shippingAddress.country}}
          </div>
        </div>
        <div ng-class="{'hidden': orderPlaced.shippingAddress.useBilling == false, 'profileUserName': orderPlaced.shippingAddress.useBilling == true}">
          <div class="col-xs-12">
            <h1 class="hidden-xs fadedOut">Shipping Address</h1>
            <h1 class="show-xs text-center fadedOut">Shipping Address</h1>
          </div>
          <div class="col-xs-12">
            <h2 class="hidden-xs">Same As Billing Address</h2>
            <h2 class="show-xs">Same As Billing Address</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="blogBox noMin noPointer">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="hidden-xs">Charge</h1>
          <h1 class="show-xs text-center">Charge</h1>
        </div>
      </div>
      <div class="row hidden-xs-border">
        <div class="col-xs-12 col-sm-4 hidden-xs-side-border">
          <h3>Card:</h3>
          <h4 class="text-right">{{orderPlaced.card + " " + orderPlaced.last4}}</h4>
        </div>
        <div class="col-xs-12 col-sm-4 hidden-xs-side-border">
          <h3># items:</h3>
          <h4 class="text-right">{{orderPlaced.cart.len}}</h4>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3>Sub-Total:</h3>
          <h4 class="text-right">${{orderPlaced.cart.subTotal}}</h4>
        </div>
      </div>
      <div class="row hidden-xs-border-bottom">
        <div class="col-xs-12 col-sm-4 hidden-xs-side-border">
          <h3>Shipping:</h3>
          <h4 class="text-right">${{orderPlaced.cart.shipping}}</h4>
        </div>
        <div class="col-xs-12 col-sm-4 hidden-xs-side-border">
          <h3>Tax:</h3>
          <h4 class="text-right">${{orderPlaced.cart.tax}}</h4>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h3>Grand total:</h3>
          <h4 class="text-right">${{orderPlaced.cart.total}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- <div class="row" id="profile">
  <div class="" id="dashboard">
    <div id="confirmation">
      <div class="divider"><h1 class="title highlight">Confirmation</h1></div>
    <div class="col-xs-12" id="status" ng-class="{'success': statusCharge == true, 'failed': statusCharge == false, 'waiting': !statusCharge}">
      <div class="row">
        <div class="col-xs-12 text-center" ng-show="statusCharge == true">
          Success
        </div>
        <div class="col-xs-12 text-center" ng-show="statusCharge == false">
          Failed
        </div>
        <div class="col-xs-12 text-center" ng-show="!statusCharge">
          Waiting...
        </div>
      </div>
    </div>
      <div class="divider"><h1 class="title highlight">Billing Address</h1></div>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Name:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.name}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Address:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.address}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>City:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.city}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>State:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.state}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Zip:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.zip}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Country:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.billingAddress.country}}</h4>
              </div>
            </div>
            </div>

            <div class="divider"><h1 class="title highlight">Shipping Address</h1></div>
        <div class="row one">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Name:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.name}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Address:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.address}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>City:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.city}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>State:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.state}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Zip:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.zip}}</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                <h3>Country:</h3>
              </div>
              <div class="col-xs-12 text-center">
                <h4>{{orderPlaced.shippingAddress.country}}</h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4 col-sm-offset-8 reviewUseBill" id="useBill">
            <div class="gold">
                <label ng-class="{'greena': orderPlaced.shippingAddress.useBilling, 'reda': !orderPlaced.shippingAddress.useBilling}" id="reviewUseBilling">Use Billing <span ng-show="orderPlaced.shippingAddress.useBilling" class="thumbAnimation" ng-class="{'showAnimation': orderPlaced.shippingAddress.useBilling, 'hideAnimation': !orderPlaced.shippingAddress.useBilling}"><i class="fa fa-thumbs-up"></i></span><span ng-show="!orderPlaced.shippingAddress.useBilling" class="thumbAnimation" ng-class="{'showAnimation': !orderPlaced.shippingAddress.useBilling, 'hideAnimation': orderPlaced.shippingAddress.useBilling}"><i class="fa fa-thumbs-down"></i></span></label>
                </div>
          </div>
        </div>
      </div>
          <div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-5 col-md-offset-7 col-lg-5 col-lg-offset-7 subTotalBox">
            <div class="row" id="confirmationTotal">
              <div class="col-xs-12">
                <h3>Charge:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>{{orderPlaced.card + " " + orderPlaced.last4}}</h4>
              </div>
                <div class="col-xs-12">
                  <h3># items:</h3>
                </div>
                <div class="col-xs-12 text-right">
                  <h4>{{orderPlaced.cart.len}}</h4>
                </div>
                <div class="col-xs-12">
                  <h3>Sub-Total:</h3>
                </div>
                <div class="col-xs-12 text-right">
                  <h4>${{orderPlaced.cart.subTotal}}</h4>
                </div>
              <div class="col-xs-12">
                <h3>Shipping:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>${{orderPlaced.cart.shipping}}</h4>
              </div>
              <div class="col-xs-12">
                <h3>Tax:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>${{orderPlaced.cart.tax}}</h4>
              </div>
              <div class="col-xs-12">
                <h3>Grand total:</h3>
              </div>
              <div class="col-xs-12 text-right">
                <h4>${{orderPlaced.cart.total}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
