<div class="row" id="profile">
  <div class="review" id="dashboard">
  <div class="divider"><h1 class="title highlight">Billing Address</h1></div>
  <div class="col-xs-12 footing">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editingA = !editingA" ng-hide="editingA">{{user.data.billingAddress.name}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.billingAddress.name" ng-blur="editingA = false;" ng-show="editingA"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editingB = !editingB" ng-hide="editingB">{{user.data.billingAddress.address}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.billingAddress.address" ng-blur="editingB = false;" ng-show="editingB"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editingC = !editingC" ng-hide="editingC">{{user.data.billingAddress.city}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.billingAddress.city" ng-blur="editingC = false;" ng-show="editingC"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editingD = !editingD" ng-hide="editingD">{{user.data.billingAddress.state}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.billingAddress.state" ng-blur="editingD = false;" ng-show="editingD"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editingE = !editingE" ng-hide="editingE">{{user.data.billingAddress.zip}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.billingAddress.zip" ng-blur="editingE = false;" ng-show="editingE"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editingF = !editingF" ng-hide="editingF">{{user.data.billingAddress.country}}</label>
        <input type="text" ng-model="user.data.billingAddress.country" ng-blur="editingF = false;" ng-show="editingF"/>
      </div>
    </div>
  </div>
  <div class="divider"><h1 class="title highlight">Shipping Address</h1></div>
  <div class="col-xs-12 footingP">
      <div class="row" ng-class="{'hidden': user.data.shippingAddress.useBilling == true}">
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editingG = !editingG" ng-hide="editingG">{{user.data.shippingAddress.name}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.shippingAddress.name" ng-blur="editingG = false;" ng-show="editingG"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editingH = !editingH" ng-hide="editingH">{{user.data.shippingAddress.address}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.shippingAddress.address" ng-blur="editingH = false;" ng-show="editingH"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editingI = !editingI" ng-hide="editingI">{{user.data.shippingAddress.city}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.shippingAddress.city" ng-blur="editingI = false;" ng-show="editingI"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editingJ = !editingJ" ng-hide="editingJ">{{user.data.shippingAddress.state}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.shippingAddress.state" ng-blur="editingJ = false;" ng-show="editingJ"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editingK = !editingK" ng-hide="editingK">{{user.data.shippingAddress.zip}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.shippingAddress.zip" ng-blur="editingK = false;" ng-show="editingK"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editingL = !editingL" ng-hide="editingL">{{user.data.shippingAddress.country}}<span class="tooltiptop">Click to Edit</span></label><input type="text" ng-model="user.data.shippingAddress.country" ng-blur="editingL = false;" ng-show="editingL"/>
        </div>
      </div>
      <div class="row"  ng-class="{'hidden': user.data.shippingAddress.useBilling == false, 'profileUserName': user.data.shippingAddress.useBilling == true}">
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.name}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.address}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.city}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.state}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.zip}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.country}}</label>
          </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-8 reviewUseBill">
        <button type="button" class="abtn gold" ng-click="user.data.shippingAddress.useBilling = !user.data.shippingAddress.useBilling" id="useBill">
        <label ng-class="{'greena': user.data.shippingAddress.useBilling, 'reda': !user.data.shippingAddress.useBilling}" id="reviewUseBilling">Use Billing <span class="thumbAnimation" ng-class="{'showAnimation': user.data.shippingAddress.useBilling, 'hideAnimation': !user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-up"></i></span><span class="thumbAnimation" ng-class="{'showAnimation': !user.data.shippingAddress.useBilling, 'hideAnimation': user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-down"></i></span></label></button>
  </div>
  <div class="divider"><h1 class="title highlight">Payment</h1></div>
  <div class="col-xs-12">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-2">
      <h3 ng-class="{'errPayment': errPayment}">Number:</h3><input type="text" ng-model="stripeToken.stripeToken.number" size="16" class="text-center"  placeholder="4242424242424242"/><br/>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <h3 ng-class="{'errPayment': errPayment}">CVC:</h3><input type="text" ng-model="stripeToken.stripeToken.cvc" maxlength="3" size="1" class="text-center"  placeholder="123"/><br/>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-4">
      <h3 ng-class="{'errPayment': errPayment}">Exp Month/Year:</h3><input type="text" ng-model="stripeToken.stripeToken.exp_month" maxlength="2" size="1" class="text-center" placeholder="02"/> <i class="fa fa-division"></i> <input type="text" ng-model="stripeToken.stripeToken.exp_year" maxlength="4" size="1"  class="text-center" placeholder="2020"/>
    </div>
    </div>
  </div>
  <div class="col-xs-12 next-buttons">
    <div class="col-xs-6">
      <button ui-sref="cart.view" type="button" class="abtn btn-success" ng-click="saveSetUp()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="col-xs-6">
    <button type="button" class="abtn btn-success" ng-click="saveSetUp(stripeToken)">Next <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
</div>
</div>
