<div class="row" id="profile">
  <div class="" id="dashboard">
  <div class="divider"><h1 class="title highlight">Billing Address</h1></div>
  <div class="col-xs-12 footing">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.name}}</label><input type="text" ng-model="user.data.billingAddress.name" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.address}}</label><input type="text" ng-model="user.data.billingAddress.address" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.city}}</label><input type="text" ng-model="user.data.billingAddress.city" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.state}}</label><input type="text" ng-model="user.data.billingAddress.state" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.zip}}</label><input type="text" ng-model="user.data.billingAddress.zip" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.country}}</label>
        <input type="text" ng-model="user.data.billingAddress.country" ng-blur="editing = false;" ng-show="editing"/>
      </div>
    </div>
  </div>
  <div class="divider"><h1 class="title highlight">Shipping Address</h1></div>
  <div class="col-xs-12 footingSA">
    <div class="row">
      <div class="col-xs-12">
        Shipping Address:
      </div>
      <div class="row" ng-class="{'hidden': user.data.shippingAddress.useBilling == true}">
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.name}}</label><input type="text" ng-model="user.data.shippingAddress.name" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.address}}</label><input type="text" ng-model="user.data.shippingAddress.address" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.city}}</label><input type="text" ng-model="user.data.shippingAddress.city" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.state}}</label><input type="text" ng-model="user.data.shippingAddress.state" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.zip}}</label><input type="text" ng-model="user.data.shippingAddress.zip" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.country}}</label><input type="text" ng-model="user.data.shippingAddress.country" ng-blur="editing = false;" ng-show="editing"/>
        </div>
      </div>
      <div class="row"  ng-class="{'hidden': user.data.shippingAddress.useBilling == false, 'profileUserName': user.data.shippingAddress.useBilling == true}">
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.name}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.address}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.city}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.state}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.zip}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.country}}</label>
          </div>
        </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-8">
        <button type="button" class="abtn" ng-click="user.data.shippingAddress.useBilling = !user.data.shippingAddress.useBilling" id="useBill">
        <label ng-class="{'greena': user.data.shippingAddress.useBilling, 'reda': !user.data.shippingAddress.useBilling}" id="reviewUseBilling">Use Billing <span class="thumbAnimation" ng-class="{'showAnimation': user.data.shippingAddress.useBilling, 'hideAnimation': !user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-up"></i></span><span class="thumbAnimation" ng-class="{'showAnimation': !user.data.shippingAddress.useBilling, 'hideAnimation': user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-down"></i></span></label></button>
      </div>
    </div>
  </div>
  <div class="divider"><h1 class="title highlight">Payment</h1></div>
  <div class="col-xs-12">
    <div class="row">
    <div class="col-xs-12 col-sm-6">
    Number:<br/><input type="text" ng-model="stripeToken.stripeToken.number"/><br/>
    CVC:<br/><input type="text" ng-model="stripeToken.stripeToken.cvc" maxlength="3"/><br/>
    </div>
    <div class="col-xs-12 col-sm-6">
    Exp Month/Year:<br/><input type="text" ng-model="stripeToken.stripeToken.exp_month" maxlength="2"/>/<input type="text" ng-model="stripeToken.stripeToken.exp_year" maxlength="4"/>
    </div>
    </div>
  </div>
  <div class="col-xs-12 next-buttons">
    <div class="col-xs-6">
      <button ui-sref="cart.view" type="button" class="abtn btn-success" ng-click="saveSetUp()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="col-xs-6">
    <button ui-sref="cart.checkout" type="button" class="abtn btn-success" ng-click="saveSetUp()">Next <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
</div>
</div>
