<div class="row" id="profile">
  <div class="" id="dashboard">
  <div class="divider"><h1 class="title highlight">Billing Address</h1></div>
  <div class="col-xs-12 footing">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.name}}</label><input type="text" ng-model="user.data.billingAddress.name" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.address}}</label><input type="text" ng-model="user.data.billingAddress.address" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.city}}</label><input type="text" ng-model="user.data.billingAddress.city" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.state}}</label><input type="text" ng-model="user.data.billingAddress.state" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.zip}}</label><input type="text" ng-model="user.data.billingAddress.zip" ng-blur="editing = false;" ng-show="editing"/>
      </div>
      <div class="col-xs-12 col-sm-4">
        <label ng-click="editing = !editing" ng-hide="editing">{{user.data.billingAddress.country}}</label>
        <input type="text" ng-model="user.data.billingAddress.country" ng-blur="editing = false;" ng-show="editing"/>
      </div>
    </div>
  </div>
  <div class="divider"><h1 class="title highlight">Shipping Address</h1></div>
  <div class="col-xs-12 footingP">
      <div class="row" ng-class="{'hidden': user.data.shippingAddress.useBilling == true}">
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.name}}</label><input type="text" ng-model="user.data.shippingAddress.name" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.address}}</label><input type="text" ng-model="user.data.shippingAddress.address" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.city}}</label><input type="text" ng-model="user.data.shippingAddress.city" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.state}}</label><input type="text" ng-model="user.data.shippingAddress.state" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.zip}}</label><input type="text" ng-model="user.data.shippingAddress.zip" ng-blur="editing = false;" ng-show="editing"/>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label ng-click="editing = !editing" ng-hide="editing">{{user.data.shippingAddress.country}}</label><input type="text" ng-model="user.data.shippingAddress.country" ng-blur="editing = false;" ng-show="editing"/>
        </div>
      </div>
      <div class="row"  ng-class="{'hidden': user.data.shippingAddress.useBilling == false, 'profileUserName': user.data.shippingAddress.useBilling == true}">
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.name}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.address}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.city}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.state}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.zip}}</label>
          </div>
          <div class="col-xs-12 col-sm-4">
            <label>{{user.data.billingAddress.country}}</label>
          </div>
      </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-8 reviewUseBill">
        <button type="button" class="abtn gold" ng-click="user.data.shippingAddress.useBilling = !user.data.shippingAddress.useBilling" id="useBill">
        <label ng-class="{'greena': user.data.shippingAddress.useBilling, 'reda': !user.data.shippingAddress.useBilling}" id="reviewUseBilling">Use Billing <span class="thumbAnimation" ng-class="{'showAnimation': user.data.shippingAddress.useBilling, 'hideAnimation': !user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-up"></i></span><span class="thumbAnimation" ng-class="{'showAnimation': !user.data.shippingAddress.useBilling, 'hideAnimation': user.data.shippingAddress.useBilling}"><i class="fa fa-thumbs-down"></i></span></label></button>
  </div>
  <div class="divider"><h1 class="title highlight">Payment</h1></div>
  <div class="col-xs-12">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-2">
      <h3 ng-class="{'errPayment': errPayment}">Number:</h3><input type="text" ng-model="stripeToken.stripeToken.number" size="16" class="text-center"  placeholder="4242424242424242"/><br/>
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
      <h3 ng-class="{'errPayment': errPayment}">CVC:</h3><input type="text" ng-model="stripeToken.stripeToken.cvc" maxlength="3" size="1" class="text-center"  placeholder="123"/><br/>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-4">
      <h3 ng-class="{'errPayment': errPayment}">Exp Month/Year:</h3><input type="text" ng-model="stripeToken.stripeToken.exp_month" maxlength="2" size="1" class="text-center" placeholder="02"/> <i class="fa fa-division"></i> <input type="text" ng-model="stripeToken.stripeToken.exp_year" maxlength="4" size="1"  class="text-center" placeholder="2020"/>
    </div>
    </div>
  </div>
  <div class="col-xs-12 next-buttons">
    <div class="col-xs-6">
      <button ui-sref="cart.view" type="button" class="abtn btn-success" ng-click="saveSetUp()"><i class="fa fa-arrow-left"></i> Back</button>
    </div>
    <div class="col-xs-6">
    <button type="button" class="abtn btn-success" ng-click="saveSetUp(stripeToken)">Next <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
</div>
</div>
