
<div class="col-xs-12">
  <div class="row blogBox">
    <div class="col-xs-12">
      <h1 class="hidden-xs">Account Info</h1>
      <h1 class="show-xs text-center">Account Info</h1>
    </div>
    <div class="col-xs-12 col-sm-4">
          <h2>First Name:</h2>
          {{user.data.firstName}}
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Last Name:</h2>
      {{user.data.lastName}}
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Email:</h2>
      {{user.data.email[0]}}
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="row blogBox">
    <div class="col-xs-12">
      <h1 class="hidden-xs">Billing Address</h1>
      <h1 class="show-xs text-center">Billing Address</h1>
    </div>
    <div class="col-xs-12">
      <h2>Name:</h2>
      {{user.data.billingAddress.name}}
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Address Line 1:</h2>
      {{user.data.billingAddress.address}}
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Address Line 2:</h2>
      {{user.data.billingAddress.address2}}
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>City:</h2>
      {{user.data.billingAddress.city}}
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>State:</h2>
      {{user.data.billingAddress.state}}
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Zip:</h2>
      {{user.data.billingAddress.zip}}
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Country:</h2>
      {{user.data.billingAddress.country}}
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="row blogBox">
    <div ng-class="{'hidden': user.data.shippingAddress.useBilling == true}">
      <div class="col-xs-12">
        <h1 class="hidden-xs">Shipping Address</h1>
        <h1 class="show-xs text-center">Shipping Address</h1>
      </div>
      <div class="col-xs-12">
        <h2>Name:</h2>
        {{user.data.shippingAddress.name}}
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Address Line 1:</h2>
        {{user.data.shippingAddress.address}}
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Address Line 2:</h2>
        {{user.data.shippingAddress.address2}}
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>City:</h2>
        {{user.data.shippingAddress.city}}
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>State:</h2>
        {{user.data.shippingAddress.state}}
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>Zip:</h2>
        {{user.data.shippingAddress.zip}}
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>Country:</h2>
        {{user.data.shippingAddress.country}}
      </div>
    </div>
    <div ng-class="{'hidden': user.data.shippingAddress.useBilling == false, 'profileUserName': user.data.shippingAddress.useBilling == true}">
      <div class="col-xs-12">
        <h1 class="hidden-xs fadedOut">Shipping Address</h1>
        <h1 class="show-xs text-center fadedOut">Shipping Address</h1>
      </div>
      <div class="col-xs-12">
        <h2 class="hidden-xs">Same As Billing Address</h2>
        <h2 class="show-xs">Same As Billing Address</h2>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12">
  <div class="row blogBox">
    <div class="col-xs-12">
      <h1 class="hidden-xs">Extras</h1>
      <h1 class="show-xs text-center">Extras</h1>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Mailing List:</h2>
      <h3 ng-class="{'btn-goldSecondary active': user.data.emailMailingList, 'whiteOut': !user.data.emailMailingList}" class="checkboxDiv text-center">
        Be the First to Know
      </h3>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Send Useage Data:</h2>
      <h3 ng-class="{'btn-goldSecondary active': user.data.researchAndDevelopment, 'whiteOut': !user.data.researchAndDevelopment}" class="checkboxDiv text-center">
        Contribute to Humanity
      </h3>
    </div>
  </div>
</div>
