<div class="relatedItems">
  <div class="col-xs-12">
    <h2>Related Items</h2>
  </div>
  <div class="col-xs-12 col-sm-4" ng-repeat="relatedItem in relatedItems.related track by $index">
    <div class="blogBox">
      <div class="row">
        <div class="col-xs-12">
          <a ui-sref="store.product({ urlCode: relatedItem.urlCode })" ng-attr-title="{{relatedItem.name}}" class="onWhiteBackground">
            <div class="imgMinForTitle">
              <img ng-src="{{relatedItem.pictures[0]}}" alt="" class="max"/>
            </div>
            <h3 class="text-center">{{relatedItem.name}}</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
